#content_admin{
    height: calc( 100vh - 80px );
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav_admin{
    height: 80px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_admin a{
    font-size: 1.3rem;
    background-color: var(--fourth--color);
    padding: .5rem 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: transform .6s;
}

.nav_admin a:hover{
    transform: scale(1.1);
}

.content_section{
    height: calc(100% - 80px);
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg{
    width: 30px;
}

#nmap, #fping{
    padding: .3rem .6rem;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#storeData{
    margin: 2rem;
}

form div{
    display: flex;
}

form app-x-icon{
    position: absolute;
    right: 5px;
    top: 5px;
}

.line{
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0rem .5rem;
    justify-content: space-between;
}

.line a{
    padding: .5rem 1rem;
    background-color: var(--fourth--color);
    color: white;
    cursor: pointer;
    transition: transform .6s;
}

.line a:hover{
    transform: scale(1.1);
}

.resultat{
    padding: .5rem 1rem; 
    cursor: pointer;
}

.one{
    background-color: var(--second--success--color);
    color: white;
}

.two{
    background-color: var(--first--warning--color);
    color: white;
}

.three{
    background-color: var(--first--success--color);
    color: white;
}

#nmap, #fping{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: white;
    justify-content: space-evenly;
}

#nmap #ip, #fping #ip{
    width: 300px;
}

.first{
    background-color: var(--third--color);
}

.second{
    background-color: var(--first--color);
}

#storeData{
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
}

#storeData .element_form{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    position: relative;
    height: 40px;
}

#storeData .element_form:focus-within{
    outline: 2px solid black;
}

#storeData .element_form input {
    all: initial;
    font-size: 1.2rem;
}

#storeData .element_form app-user-icon,  #storeData .element_form app-lock-icon{
    width: 30px;
}

.verbose{
    display: flex;
    flex-direction: column;
}

.verbose *{
    margin: 0;
}

#console{
    background-color: black;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#console_form{
    width: 100%;
}

.resultat_du_truc{
    color: white;
    margin: .1rem 0;
    font-size: 1.5rem;
}

#console_form .ligne_commande{
    display: flex;
    width: 100%;
    align-items: center;
}

#console_form .ligne_commande p{
    margin: 0;
    color: var(--first--success--color);
    font-size: 1.5rem;
    width: 100px;
}

#console_form .ligne_commande input{
    border: 0;
    color: white;
    width: 100%;
    background-color: black;
    font-size: 1.5rem;
    outline: none;
    height: 30px;
}

#console_form2{
    width: 100%;
}

#console_form2 .ligne_commande{
    display: flex;
    width: 100%;
    align-items: center;
}

#console_form2 .ligne_commande p{
    margin: 0;
    color: var(--first--success--color);
    font-size: 1.5rem;
    width: 100px;
}

#console_form2 .ligne_commande input{
    border: 0;
    color: white;
    width: 100%;
    background-color: black;
    font-size: 1.5rem;
    outline: none;
    height: 30px;
}

#console_form2{
    width: 100%;
}

#console_form2 .ligne_commande{
    display: flex;
    width: 100%;
    align-items: center;
}

#console_form2 .ligne_commande p{
    margin: 0;
    color: var(--first--success--color);
    font-size: 1.5rem;
    width: 100px;
}

#console_form2 .ligne_commande input{
    border: 0;
    color: white;
    width: 100%;
    background-color: black;
    font-size: 1.5rem;
    outline: none;
    height: 30px;
}

#console_form3{
    width: 100%;
}

#console_form3 .ligne_commande{
    display: flex;
    width: 100%;
    align-items: center;
}

#console_form3 .ligne_commande p{
    margin: 0;
    color: var(--first--success--color);
    font-size: 1.5rem;
    width: 100px;
}

#console_form3 .ligne_commande input{
    border: 0;
    color: white;
    width: 100%;
    background-color: black;
    font-size: 1.5rem;
    outline: none;
    height: 30px;
}

#console_form3 .ligne_commande #resultat_console{
    height: 30px;
    color: white;
}

#console_form4{
    width: 100%;
}

#console_form4 .ligne_commande{
    display: flex;
    width: 100%;
    align-items: center;
}

#console_form4 .ligne_commande p{
    margin: 0;
    color: var(--first--success--color);
    font-size: 1.5rem;
    width: 100px;
}

#console_form4 .ligne_commande input{
    border: 0;
    color: white;
    width: 100%;
    background-color: black;
    font-size: 1.5rem;
    outline: none;
    height: 30px;
}

#console_form5{
    width: 100%;
}

#console_form5 .ligne_commande{
    display: flex;
    width: 100%;
    align-items: center;
}

#console_form5 .ligne_commande p{
    margin: 0;
    color: var(--first--success--color);
    font-size: 1.5rem;
    width: 100px;
}

#console_form5 .ligne_commande input{
    border: 0;
    color: white;
    width: 100%;
    background-color: black;
    font-size: 1.5rem;
    outline: none;
    height: 30px;
}

#console_form5 .ligne_commande #resultat_console{
    height: 30px;
    color: white;
}

#console_form6{
    width: 100%;
}

#console_form6 .ligne_commande{
    display: flex;
    width: 100%;
    align-items: center;
}

#console_form6 .ligne_commande p{
    margin: 0;
    color: var(--first--success--color);
    font-size: 1.5rem;
    width: 100px;
}

#console_form6 .ligne_commande input{
    border: 0;
    color: white;
    width: 100%;
    background-color: black;
    font-size: 1.5rem;
    outline: none;
    height: 30px;
}

#console_form6 .ligne_commande #resultat_console{
    height: 30px;
    color: white;
}

#console_form7{
    width: 100%;
}

#console_form7 .ligne_commande{
    display: flex;
    width: 100%;
    align-items: center;
}

#console_form7 .ligne_commande p{
    margin: 0;
    color: var(--first--success--color);
    font-size: 1.5rem;
    width: 100px;
}

#console_form7 .ligne_commande input{
    border: 0;
    color: white;
    width: 100%;
    background-color: black;
    font-size: 1.5rem;
    outline: none;
    height: 30px;
}

#console_form7 .ligne_commande #resultat_console{
    height: 30px;
    color: white;
}

#console_form8{
    width: 100%;
}

#console_form8 .ligne_commande{
    display: flex;
    width: 100%;
    align-items: center;
}

#console_form8 .ligne_commande p{
    margin: 0;
    color: var(--first--success--color);
    font-size: 1.5rem;
    width: 100px;
}

#console_form8 .ligne_commande input{
    border: 0;
    color: white;
    width: 100%;
    background-color: black;
    font-size: 1.5rem;
    outline: none;
    height: 30px;
}

#console_form8 .ligne_commande #resultat_console{
    height: 30px;
    color: white;
}

#console_form9{
    width: 100%;
}

#console_form9 .ligne_commande{
    display: flex;
    width: 100%;
    align-items: center;
}

#console_form9 .ligne_commande p{
    margin: 0;
    color: var(--first--success--color);
    font-size: 1.5rem;
    width: 100px;
}

#console_form9 .ligne_commande input{
    border: 0;
    color: white;
    width: 100%;
    background-color: black;
    font-size: 1.5rem;
    outline: none;
    height: 30px;
}

#console_form9 .ligne_commande #resultat_console{
    height: 30px;
    color: white;
}